.choice {
  padding-top: 180px;
  padding-bottom: 227px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .choice-content {
      max-width: 583px;

      .choice-description {
        margin-top: 40px;
        font-size: 18px;
      }

      .choice-options {
        margin-top: 60px;

        .choice-option {
          border: 1px solid #c1bbbb;
          background: #fff;
          font-size: 16px;
          padding: 26px 70px 26px 20px;
          position: relative;
          transition: .2s ease all;

          &:hover {
            border-left: 5px solid #6933dc;
            cursor: pointer;
            font-family: "Museo Sans Cyrl Bold", sans-serif;
            font-size: 16px;
            color: #6933dc;
          }

          &:hover .choice-option-arrow {
            display: block;
          }

          .choice-option-arrow {
            position: absolute;
            top: 27px;
            right: 30px;
            display: none;
          }

          .choice-option-result {
            position: absolute;
            right: 18px;
            top: 16px;
            border: 1px solid #6933DC;
            padding: 5px;
            font-size: 12px;
            line-height: 14px;
            color: #6933DC;
            background: white;
            text-align: center;
            z-index: 2;

            div:first-child {
              margin-bottom: 3px;
            }
          }
        }
      }
    }
  }
}



