<section class="test">
  <div class="container">
    <div class="title-test">
      <div class="mini-title">
        Результат прохождения теста
        <img src="assets/images/arrowResult.png" alt="small-arrow">
      </div>
      <div class="test-pre-title" id="pre-title">
        {{quiz.name}}
      </div>
    </div>
    <div class="test-question">
      <div class="test-question-title-result" id="title">
        <span>Правильные ответы</span> к тесту
      </div>
      <div class="user">
        Тест выполнил: &nbsp;
        <div class="user-pre-title" id="user">
          {{userInfo?.fullName}}, {{userInfo?.email}}
        </div>
      </div>
      <div class="test-question" *ngFor="let item of this.quiz.questions; let i = index;">
        <div class="test-question-title">
          <span>Вопрос {{i + 1}}:</span> {{item.question}}
        </div>
        <div class="test-question-options" id="options">
          <div class="test-question-option" *ngFor="let answer of item.answers">
            <input class="option-answer" id="answer-{{answer.id}}" [(ngModel)]="chosenAnswerId" type="radio"
                   name="answer-{{i}}"
                   [value]="answer.id" [ngStyle]="getAnswerStyles(answer.id)">
            <label for="answer-{{answer.id}}" [ngStyle]="getAnswerStyles(answer.id)">{{answer.answer}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="pass-question">
      <a href="javascript:void(0)" id="result" (click)="onResult(quiz.id)">Обратно к моему результату теста
        <img src="assets/images/small-arrow.png" alt="small-arrow"></a>
    </div>
  </div>
</section>

