.result {
  padding-top: 140px;
  padding-bottom: 91px;
  text-align: center;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    .result-image {
      position: absolute;
      top: 225px;
      z-index: -1;
    }

    .result-title {
      max-width: 588px;
      margin-bottom: 60px;
    }

    .result-score {
      background-image: url("../../../../assets/images/result.png");
      background-size: cover;
      background-position: center;
      width: 480px;
      height: 388px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Museo Sans Cyrl Bold", sans-serif;
      font-size: 158px;
      color: #fff;
    }

  }
}





.verification-question {
  display: flex;
  justify-content: flex-end;
  margin-top: 157px;
  margin-right: 343px;
}

.verification-question a {
  font-size: 17px;
  color: #6933dc;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.verification-question a:hover {
  text-decoration: underline;
}


.verification-question a img {
  margin-left: 13px;
}
