<section class="form" [formGroup]="loginForm">
  <div class="container">
    <div class="form-content">
      <h1 class="form-title common-title">
        <span>Вход</span> в систему
      </h1>
      <div class="form-details">
        <div class="form-group"
             [ngStyle]="{'border-color' : loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty) ? 'red' : ''}">
          <input type="text" class="form-input" id="email" required formControlName="email">
          <label for="email" class="form-label">Электронная почта</label>
        </div>
        <div class="form-group"
             [ngStyle]="{'border-color' : loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty) ? 'red' : ''}">
          <input type="password" class="form-input" id="password" required formControlName="password">
          <label for="password" class="form-label">Пароль</label>
        </div>
      </div>
      <div class="form-button">
        <button class="button" id="process" [disabled]="loginForm.invalid" (click)="login()">Перейти к выбору теста
        </button>
      </div>
      <div class="form-link">
        Нет аккаунта? <a routerLink="/signup">Зарегистрироваться</a>
      </div>
    </div>
    <div class="form-image">
      <img src="assets/images/infoimage.png" alt="Infoimage">
    </div>
  </div>
</section>
