.header {
  padding: 42px 0 40px;
  border-bottom: 1px solid #dcdcf3;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile {
      display: flex;
      align-items: center;
      cursor: pointer;

      .profile-image {
        margin-right: 5px;
      }

      .profile-user {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 5px;
      }

      .profile-email {
        margin-bottom: 2px;
        color: #6933dc;
      }

      .profile-logout {
        font-size: 14px;
        line-height: 12px;
      }
    }
  }
}
